@import "colors";

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 2.5rem;
  background: $color-yellow;
  color: black;
  font-size: 1.5em;
  flex-wrap: wrap;
}

.navbar-link {
  padding-right: 1em;

  &:last-child{
    padding-right: 0;
  }
}

.navbar-link:hover {
  color: lightslategrey;
}

.navbar-link.button {
  background: none;
  outline: none;
  font-size: 100%;
  line-height: 0;
}