.transactions-outer-container {
  width: 50%;
}

.transactions-container {
  margin-right: -webkit-calc(2em + 2px);
  margin-right: calc(2em + 2px);
}

.transactions-table-data {
  width: 26.66%;
  padding: 0.5em 0em;
  text-align: end;
}

.transactions-table-data.type {
  width: 20%;
  text-align: center !important;
}

.transactions-table-data span {
  color: silver;
  font-size: 0.8rem;
}

@media (max-width: 700px) {
  .transactions-outer-container {
    width: 100%;
  }
}