@import "colors";

.session-form-input, .make-purchases-form-input {
  margin-bottom: 1em;
  padding: 5px 10px;
  border: 2px solid $color-yellow;
  box-shadow: 3px 4px $color-yellow;
}

.make-purchases-form-input {
  width: 100%;
}