.portfolio-main-container {
  display: flex;
  
}

.market-message {
  font-size: 1rem;
  margin-top: 0.5em;
}

// LEFT SIDE

.portfolio-left {
  width: 50%;
  border-right: 2px solid gray;
}

.stocks-table-data {
  width: 33.33%;
  padding: 0.5em 0em;
}

.stocks-table-data.red {
  color: darkred;
}

.stocks-table-data.gray {
  color: gray;
}

.stocks-table-data.green {
  color: darkgreen;
}

// RIGHT SIDE

.portfolio-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.make-purchases-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-balance-container {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.portfolio-balance {
  color: green;
}

.make-purchases-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
}

.make-purchases-form-error, .confirm-purchase-message {
  color: red;
  max-width: 100%;
  margin-top: 1em;
  text-align: center;
}

.confirm-purchase-message {
  color: lightgreen;
  line-height: 1.3em;
}

.confirm-purchase-message span {
  color: indianred;
}

.make-purchases-form-submit {
  padding: 0.2em;
  border-radius: 5px;
  min-width: fit-content;
  width: 25%;
  background: green;
  color: white;
  border: 2px solid gray;
  box-shadow: 2px 3px gray;
}

.make-purchases-form-submit:hover {
  background: darkgreen;
}

.make-purchases-form-submit.confirm {
  background: firebrick;
}

.make-purchases-form-submit.confirm:hover {
  background: darkred;
}

@media (max-width: 700px) {
  .portfolio-main-container {
    flex-direction: column;
  }

  .portfolio-left, .portfolio-right {
    width: 100%;
    border: none;
  }

  .make-purchases-container {
    width: 70%;
    padding-top: 1.5em;
    border-top: 2px solid gray;
    margin-top: 1.8em;
  }
}