@import "colors";

.session-form-input, .make-purchases-form-input {
  margin-bottom: 1em;
  padding: 5px 10px;
  border: 2px solid $color-yellow;
  box-shadow: 3px 4px $color-yellow;
}

.make-purchases-form-input {
  width: 100%;
}

// PAGE HEADER

.page-header {
  font-size: 2.5em;
  margin: 1em 2.5rem;
}

// STOCKS AND TRANSACTIONS TABLES

.portfolio-main-container, .transactions-outer-container {
  margin-bottom: 5em;
}

.stocks-container, .transactions-container {
  font-size: 1.2em;
  margin: 0 2em;
}

.stocks-table, .transactions-table {
  width: 100%;
  text-align: center;
  color: silver;
}

.stocks-table-row, .transactions-table-row {
  border-bottom: 1px solid lightgray;

  &:last-child{
    border-bottom: none;
  }
}

.ticker-symbol {
  color: lightskyblue;
  text-align: center !important;
}

.num-shares {
  color: mediumpurple;
}

.price {
  color: $color-yellow;
}

@media (max-width: 700px) {
  .stocks-container, .transactions-container {
    font-size: 0.9em;
  }

  .transactions-table-data span {
    font-size: 0.6rem !important;
  }

  .page-header {
    text-align: center;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }

  .num-shares {
    text-align: inherit !important;
  }
}